{% extends 'base.html' %}

{% block htmlhead %}
<link href="{{ url_for('static', filename='styles/bottle/bottles.css') }}" rel="stylesheet" type="text/css" />

<script>
$(document).ready(function () {

    var Drift = {
        page: 1,
        config: {
            'Y_lower': 100,
            'Y_upper': 450,
            'X_lower': -30,
            'X_upper': -70,
            'float_one_time': 3000,
            'float_one_delay': 200,
            'call_float_during': 5500,
        },
        river: {
            'bottles': {},
            'current_num': 0
        },
    };

    Drift.initial = function () {
        $(".bottle").fadeOut(200);
        setTimeout(function () {
            $(".bottle").remove();
            get_bottle();
        }, 300);
    }

    Drift.page_increase = function () {
        Drift.page++;
        Drift.initial();
    }

    Drift.page_decrease = function () {
        Drift.page--;
        Drift.initial();
    }

    Drift.random_num = function (lower, upper) {
        return (parseInt(Math.random() * (upper - lower) + lower));
    }

    Drift.setY = function (bottle) {
        bottle.animate({top: Drift.random_num(Drift.config['Y_lower'], Drift.config['Y_upper']) + "px"}, 1);
    }

    Drift.setX = function (bottle) {
        bottle.animate({right: Drift.random_num(Drift.config['X_lower'], Drift.config['X_upper']) + "px"}, 1);
    }

    Drift.init_position = function (bottle) {
        Drift.setX(bottle);
        Drift.setY(bottle);
    }

    Drift.float_once = function (bottles) {
        bottles.animate({
            top: '-=30px',
            right: "+=20px"
        }, Drift.config['float_one_time']).delay(Drift.config['float_one_delay']).animate({
            top: '+=30px',
            right: "+=20px"
        }, Drift.config['float_one_time']);
    }

    Drift.repeat = function (func, delay, times) {
        while (times){
           setTimeout(func, delay * --times);
        }
    }

    Drift.pick_back = function (pick_id, pick_num) {
        if(pick_id && pick_num){
            $.ajax({
                url: '{{ url_for("bottle.pick") }}',
                data: {'bottle_id': pick_id},
                type: 'post',
                async: true ,
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.flash_message(response.message, 'notice', 2000);
                    }else{
                        window.flash_message(response.message, 'error', 2000);
                    }
                },
                complete: function () {
                    $("#bottle-" + pick_num).fadeOut();
                    setTimeout(function () {
                        $("#bottle-" + pick_num).remove();
                    }, 4000);
                }
            });
        };
    }

    Drift.get_bottles = function () {
        $.ajax({
            url: '{{ url_for("bottle.bottles") }}',
            data: {
                page: Drift.page
            },
            type: 'GET',
            async: true,
            dataType: 'json',
            success: function (response) {
                Drift.river.bottles = response.bottles;
                Drift.repeat(function () {
                    Drift.float_bottle();
                }, 5500, response.bottles.length);
            }
        })
    }

    Drift.float_bottle = function (bottle_seq) {
        if (typeof bottle_seq == 'undefined') {
            bottle_seq = Drift.river.current_num++;
        }

        $("#bottle-" + bottle_seq).fadeOut();
        $("#bottle-" + bottle_seq).remove();
        
        var bottle = $('<div id="bottle-"' + bottle_seq + '" class="bottle"></div>');
        var bottle_container = $('<div id="bottle-container-' + bottle_seq +'" class="bottle-container"></div>');
        var bottle_content = $('<div id="bottle-content-' + bottle_seq + '" class="bottle-content"></div>');

        bottle.prepend(bottle_container);
        bottle_container.prepend(bottle_content);
        bottle_content.append(Drift.river.bottles[bottle_seq].content);

        // if(response[bottle_seq].me == 1){
        //     var pick_back = $('<input type="button" value="捞回我的漂流瓶" class="btn error" />').click(function (){
        //         $.pick_back(response[bottle_seq].id, bottle_seq);
        //     });
        //     bottle_container.append(pick_back);
        // }

        bottle_container.append($('<input class="btn success" value="回漂瓶子" type="button" id="btn-' + bottle_seq +'" />').click(function () {
            $(".bottle-bottle").find("img").animate({width: "66px", height: "66px"});
            $(".bottle-container").fadeOut();
        }));

        bottle.append($('<div id="bottle-bottle-' + bottle_seq + '" num="' + bottle_seq + '" class="bottle-bottle"></div>').click(function () {
            $(".bottle-container").fadeOut();
            $(".bottle-bottle").find("img").animate({width: "66px", height: "66px"}, 200);
            $(this).find('img').animate({width: "+=10px", height: "+=10px"});
            $("#bottle-container-" + $(this).attr('num')).fadeIn('slow');
        }).append($('<img id="bottle-img-' + bottle_seq + '" />').attr("src", '{{url_for("static", filename="images/bottle/")}}' + Drift.random_num(0, 9) + '.png')));

        $("#bottles").append(bottle);

        Drift.init_position($("#bottle-bottle-" + bottle_seq));
        $("#bottle-container-" + bottle_seq).hide();

        $("#bottle-bottle-" + bottle_seq).animate({top:"+=15px", right:"+=10px"}, 1500);
        Drift.float_once($("#bottle-bottle-" + bottle_seq));
        setInterval("$D.float_once($('#bottle-bottle-" + bottle_seq +"'))", Drift.config['call_float_during']);
    }

    Drift.check_bottle = function (){
        for(j=0;j<Drift.river.current_num;j++){
            if($("#bottle-bottle-"+ j).position().left <= -10){
                $("#bottle-" + j).fadeOut();
                $("#bottle-" + j).remove();
                Drift.float_bottle(j);
            }
        }
    }

    setInterval(Drift.check_bottle, Drift.config['call_float_during']);

    window.Drift = window.$D = Drift;

    $D.get_bottles();
});

</script>
{% endblock %}

{% block content %}
    <div id="content">
        <div id="content-listPage">
            {% if bottles.pages > 1 %}<a href="#" onclick="$.page_increase()"> &lt; &lt; 往上岸走</a>  <span><a href="#" onclick="$.page_decrease()">往下岸走>></a></span> {% endif %}
        </div>
        <div id="ocean">
            <div id="bottles">
                
            </div>
        </div>
    </div>
{% endblock %}