{%- extends 'base.html' %}

{%- block htmlhead %}
<script>
(function(window, $) {
    var Drift = {};

    Drift.init = function () {
        $('#myBottles-box').empty();
    }

    Drift.pick_back = function (pick_id) {
        if (pick_id) {
            $.ajax({
                url: '{{ url_for("bottle.pick") }}',
                data: {'bottle_id': pick_id},
                type: 'PUT',
                async: true,
                dataType: 'json',
                success: function (response) {
                    if (response.success){
                        window.flash_message(response.message, 'notice', 2000);
                        $("#btn-t-" + pick_id).show();
                        $("#btn-p-" + pick_id).hide();
                    }else{
                        window.flash_message(response.message, 'error', 2000);
                    }
                }
            })
        }
    }

    Drift.throw = function (pick_id) {
        if (pick_id) {
            $.ajax({
                url: '{{ url_for("bottle.throw_out") }}',
                data: {bottle_id: pick_id},
                type: 'PUT',
                async: true,
                dataType: 'json',
                success: function (response) {
                    if (response.success){
                        window.flash_message(response.message, 'notice', 2000);
                        $("#btn-t-"+pick_id).hide();
                        $("#btn-p-"+pick_id).show();
                    }else{
                        window.flash_message(response.message, 'error', 2000);
                    }
                }
            })
        }
    }

    Drift.trash = function (bottle_id) {
        if (bottle_id) {
            $.ajax({
                url: '{{ url_for("bottle.trash") }}',
                data: {bottle_id: bottle_id},
                type: 'DELETE',
                async: true,
                dataType: 'json',
                success: function (response) {
                    if(response.success){
                        window.flash_message(response.message, 'notice', 2000);
                        $("#myB-"+bottle_id).slideUp();
                        setTimeout(function(){$("#myB-"+bottle_id).remove()},3000);
                    }else{
                        window.flash_message(response.message, 'error', 2000);
                    }
                }
            })
        }
    }

    Drift.myBottles = function () {
        $.ajax({
            url: '{{ url_for("bottle.mine") }}',
            type: 'GET',
            async: true,
            dataType: 'json',
            success: function (response) {
                bottles = response['bottles'];
                console.log(bottles);
                var i = 0;
                $('#myBottles-box').empty();
                while (bottles[i].id) {
                    console.log(bottles[i].state)
                    if (bottles[i].state == 'floating') {
                        vis = "漂流中";
                    } else {
                        vis = "不在漂流";
                    }
                    content = "<div class='myB' id='myB-"+bottles[i].id+"'><div class='myB-l'><img src='{{ url_for('static', filename='images/bottle/bottle.png') }}' /><br /><a href='#' id='btn-t-"+bottles[i].id+"' onclick='$D.throw("+bottles[i].id+")'>#扔出去</a><a href='#' id='btn-p-"+bottles[i].id+"' onclick='$D.pick_back("+bottles[i].id+")' >#捡回来</a><br /><a href='#' onclick='$D.trash("+bottles[i].id+")'>#不要了</a></div><div class='myB-r'><h5>投于"+bottles[i].created+"("+vis+")：</h5><p>"+bottles[i].content+"</p></div></div>";
                    $("#myBottles-box").append(content);
                    if(bottles[i].state == 'floating'){
                        $("#btn-t-"+bottles[i].id).hide();
                    }else{
                        $("#btn-p-"+bottles[i].id).hide();
                    }
                    i++;
                }
            }
        })
    }

    window.Drift = window.$D = $D = Drift;

})(window, jQuery);

</script>
<link href="{{ url_for('static', filename='styles/bottle/leadin.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='scripts/bottle/leadin.js') }}"></script>
{%- endblock %}

{%- block content %}
<div id="content">
    <div id="top">
        <div id="bottles-bg">
        	<img src="{{ url_for('static', filename='images/bottle_s.jpg' )}}" />
        </div>
        <div id="bottle">
            <div id="bottle-container">
            <div id="infor">您还可以写x个字：</div>
                <form name="paper-form" id="paper-form" action="{{ url_for('bottle.throw') }}" method="post">
                    {{ throw_form.csrf_token }}
                    {{ throw_form.paper }}
                    <br />
                    <input type="submit" class="btn disabled" disabled="disabled" value="  扔  " id="throwsubmit"/>
                    &nbsp;&nbsp;&nbsp;
                    <input type="button" class="btn error" value="关 闭" id="cancelbtn" />
                </form>
            </div>
        </div>
    </div>
    <div id="throw-bottles">
        <a href="#" id="throwBtn">扔?<br /><img src="{{ url_for('static', filename='images/arrow.png') }}" /></a>
    </div>
    <div id="pick-bottles">
        <a href="{{ url_for('bottle.river') }}" id="pickBtn">捡?<br /><img src="{{ url_for('static', filename='images/arrow_f.png') }}" /></a>
    </div>
    <div id="my-bottles">
        <a href="#" id="myBtn">我的瓶子<br /><img src="{{ url_for('static', filename='images/arrow_m.png') }}" /></a>
    </div>
    <div id="myBottles">
        扔出的瓶子<span><input type="button" class="btn error" value="关 闭" id="myB-cbtn" /></span>
        <div style="margin-top:8px;height:1px;background:#aaa;"></div>
        <div id="myBottles-box">
            <div class="myB">
                <div class="myB-l">
                <img src="{{ url_for('static', filename='images/bottle/bottle.png') }}" /><br /><br />
                <a href="#" id="throw-my-bottle">#扔出去</a><br />
                <a href="#" id="pick-my-bottle">#捡回来</a><br />
                <a href="#" id="del-my-bottle">#不要了</a>
                </div>
                <div class="myB-r">
                <h5>投于xxxx年xx月xx日（还在漂流）：</h5>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}