@CHARSET "UTF-8";

/**
@author Lyd.
**/


#throw-bottles{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-20px;
	color:#fff;
	font-size:36px;
}
#throw-bottles:hover{
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(15deg);
	cursor:pointer;
}
#pick-bottles{
	position:absolute;
	top:30%;
	right:15%;
	margin-top:-20px;
	color:#fff;
	font-size:36px;
}
#pick-bottles:hover{
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(-15deg);
	cursor:pointer;
}
#my-bottles{
	position:absolute;
	top:60%;
	right:15%;
	color:#fff;
	font-size:24px;
}
#my-bottles:hover{
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(-5deg);
	cursor:pointer;
}
#content #top #bottle{
	width:960px;
	margin:0 auto;	
	overflow:hidden;
}
/**
#content #top #bottle-container{
	background:url(../../images/old_paper_h.jpg) no-repeat;
	height:819px;
	width:600px;
	margin:0 auto;
	padding-top:50px;
}
**/

#content #top #bottle-container{
	text-align:center;
	background:url(../../images/paper_bg.png);
	height:400px;
	width:600px;
	margin:0 auto;
	margin-top:30px;
	padding:20px;
	border-radius: 5px;
}

#myBottles{
	background:url(../../images/paper_bg.png);
	height:400px;
	width:800px;
	margin:0 auto;
	margin-top:20px;
	padding:10px;
	border-radius: 5px;
		font-size:18px;
}
#myBottles span{
	float:right;
}
#myBottles #myBottles-box{
	margin:0 auto;
	width:100%;
	height:350px;
	overflow:auto;
	margin-top:10px;
}
.myB{
	border:1px solid #CCC;
	margin-bottom:5px;
	font-size:16px;
	padding:5px;
}
.myB h5{
	font-size:12px;
	color:#ACACAC;
	text-indent:0px;
}
.myB .myB-l{
	padding:5px;
	display:inline-block;
	width:50px;
}
.myB .myB-l a{
	color:#666;
	font-size:12px;
}
.myB .myB-r{
	width:720px;
	text-indent:2em;
	vertical-align:top;
	display:inline-block;
}

#paper{
	line-height:30px;
	background:url(../../images/drift_text_bg.gif);
	background-attachment: scroll;
	margin:0 auto;
	width:95%;
	height:300px;
	overflow:auto;
	padding:5px;
	border:#8f5318;
	font-size:14px;
	font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	/** 屏蔽webkit 的缩放 **/
	max-width: 95%;
	max-height: 300px;
}
#infor{
	text-align:left;
}
.btn{cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:5px 14px 6px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}
.btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.btn.error{color:#fff;background-color:#c43c35;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);background-image:-ms-linear-gradient(top, #ee5f5b, #c43c35);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);background-image:linear-gradient(top, #ee5f5b, #c43c35);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#c43c35 #c43c35 #882a25;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn:focus{outline:1px dotted #666;}
.btn.disabled{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}