{%- extends 'global.html' %}

{%- block scripts %}
<link href="{{ url_for('static', filename='styles/global.css') }}" rel="stylesheet" type="text/css" />
{%- endblock %}

{%- block htmlhead %}
{%- endblock %}
{%- block header %}
<div id="header">
    <div id="header-container">
        <a href="#"><img src="{{webroot}}static/images/top-logo.png" /></a>
        <div id="header-nav">
         <ul>
            <li><a href="{{ url_for('bottle.leadin') }}">漂流瓶</a></li>
            <li><a href="{{webroot}}account">帐号</a></li>
            <li><a href="{{ url_for('account.signout') }}">退出</a></li>
         </ul>
        </div>
    </div>
</div>
{%- endblock %}

{%- block content %}

{%- endblock %}

{%- block footer %}
<div id="footer">
    版权所有&copy;漂流瓶
</div>
{%- endblock %}
