{% extends 'base.html' %}

{% block htmlhead %}
<link href="{{ url_for('static', filename='styles/bottles/bottles.css') }}" rel="stylesheet" type="text/css" />

<script>
$(document).ready(function() {
    $.extend({
        initial: function () {
            $(".bottle").fadeOut(200);
            window.i = 1;
            window.onFloat = 0;
            setTimeout(function() {
                $(".bottle").remove();
                stm();
            },300);
        }
    });
    $.extend({
        addPage: function () {
            window.page++;
            $.initial();
        }
    });
    $.extend({
        dePage: function () {
            window.page--;
            $.initial();
        }
    })
    $.extend({
        getRandom: function (x, y) {
            return (parseInt(Math.random() * (y - x + 1) + x));
        }
    });
    $.extend({
        setY: function (bottle) {
            bottle.animate({top: $.getRandom(50, 450) + "px"}, 1)
        }
    });
    $.extend({
        setX: function (bottle) {
            bottle.animate({right:$.getRandom(-40,-10) + "px"}, 1)
        }
    });
    $.extend({
        init: function (bottle) {
            $.setX(bottle);
            $.setY(bottle)
        }
    });
    $.extend({float:function(bottles){bottles.animate({top:'-=30px',right:"+=20px"},3000).delay(200).animate({top:'+=30px',right:"+=20px"},3000);}});
    $.extend({pickBack:function (pickID,pickNUM){
        if(pickID && pickNUM){
            $.ajax({
            url:'{{webroot}}bottles/my/pick/'+pickID ,
            type:'get',
            async:true ,
            dataType:'json',
            success:function(response){
                if(response.success){
                    $S.notice(response.message,2000);
                }else{
                    $S.error(response.message,2000);
                }
            },
            complete:function(){
                $("#bottle-" + pickNUM).fadeOut();
                setTimeout(function(){$("#bottle-" + pickNUM).remove();},4000);
                }
        
        });};
        }})
    window.page = 1;
    window.onFloat = 0;
    window.i = 1;
    var stm = function(l){
            if(l==null){
                l=window.i;
            }
            $.ajax({
        url:'{{webroot}}bottles/get/page/'+window.page ,
        type:'get',
        async:true ,
        dataType:'json',
        success:function(response){
        $("#bottle-" + l).fadeOut();
        $("#bottle-" + l).remove();
        var apd = "<div id='bottle-"+l+"' class='bottle'><div id='bottle-container-" +l+"' class='bottle-container'><div id='bottle-content-" +l+ "' class='bottle-content'>"+ response[l-1].content +"</div>";
        if( response[l-1].me == 1){
            apd = apd + " <input type='button' value='捞回我的漂流瓶' class='btn error' onclick='$.pickBack("+response[l-1].id+","+l+")' /> ";
        }
        apd = apd + "<input class='btn success' value='回漂瓶子' type='button' id='btn-" + l +"'></div><div id='bottle-bottle-"+ l +"' num='"+l+"' class='bottle-bottle'><img src='{{baseroot}}static/images/bottle/" +$.getRandom(0,9)+".png' /><div class=''></div></div></div>";
        $("#bottles").append(apd);
        window.onFloat++;
        },
        complete:function(){
            $("#bottle-container-"+l).hide();
            $("#bottle-bottle-"+l).click(function(){
                    $(".bottle-container").fadeOut();
                $(".bottle-bottle").find("img").animate({width:"66px",height:"66px"},200);
                $(this).find('img').animate({width:"+=10px",height:"+=10px"});
                $("#bottle-container-" + $(this).attr('num')).fadeIn('slow');
            });
            $("#btn-" + l).click(function(){
                $(".bottle-bottle").find("img").animate({width:"66px",height:"66px"});
                $(".bottle-container").fadeOut();
            });
            $("#bottle-bottle-"+l).each(function(){$.init($(this));});
            $("#bottle-bottle-"+l).animate({top:"+=15px",right:"+=10px"},1500);
            $.float($("#bottle-bottle-"+l));
            setInterval("$.float($('#bottle-bottle-" + l +"'))",5300);
            window.i++;
            }
    });};
    
    var chk = function (){
        for(j=1;j<window.i;j++){
            if( $("#bottle-bottle-"+ j).position().left <= -10){
                $("#bottle-" + j).fadeOut();
                $("#bottle-" + j).remove();
                stm(j);
                window.onFloat--;
            }
        }
    }
    
    setTimeout(stm,0);
    setInterval(stm,5500);
    setInterval(chk,5500);
        

});

</script>
{% endblock %}

{% block content %}
    <div id="content">
        <div id="content-listPage">
            {% if bottles.pages > 1 %}<a href="#" onclick="$.addPage()"> &lt; &lt; 往上岸走</a>  <span><a href="#" onclick="$.dePage()">往下岸走>></a></span> {% endif %}
        </div>
        <div id="ocean">
            <div id="bottles">
                
            </div>
        </div>
    </div>
{% endblock %}