<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ZH" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}深大匿友 - Need You in Szu{% endblock %}</title>
<script src="{{ url_for('static', filename='scripts/jQuery/jquery-1.7.2.min.js') }}" ></script>
<script src="{{ url_for('static', filename='scripts/jQuery/jquery.tools.min.js') }}" ></script>
<script src="{{ url_for('static', filename='scripts/jQuery/jquery.form.js') }}" ></script>
<script src="{{ url_for('static', filename='scripts/setting.js') }}" ></script>
<link href="{{ url_for('static', filename='styles/main/global.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='styles/messagebox.css') }}" rel="stylesheet" type="text/css" />
{% block htmlhead %}
{% endblock %}
</head>
<body>
{% block header %}
<div id="header">
    <div id="header-container">
        <a href="#"><img src="/static/images/top-logo.png" /></a>
        <div id="header-nav">
         <ul>
            <li><a href="/books">读书分享</a></li>
            <li><a href="/musics">音乐分享</a></li>
            <li><a href="/videos">视频分享</a></li>
            <li><a href="/bottles">漂流瓶</a></li>
            <li>
            <a href="/planes">纸飞机</a></li>
            <li><a href="/closestool">马桶</a></li>
            <li><a href="/account">帐号</a></li>
            <li><a href="/user/logout">退出</a></li>
         </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
<div id="footer">
    版权所有&copy;深大匿友<br> <a href="/aboutus">关于我们</a> | <a href="/contactus">联系我们</a>
</div>
{% endblock %}
</body>
</html>