body {
	font-family:"Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
	background: #fff repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;
}
a {
	color: #eee;
	text-decoration: none;
}
a:hover{
	color:#fff;
}
img {
	border:0px;
}


/** global stlye **/
body{
	background: url('../images/main-bg.png');
}
#header {
	background:#144465;
	width:100%;
	border-bottom:1px #999999 solid;
	height:75px;
	box-shadow: 0px 2px 8px 0px rgba(100, 100, 100, 0.8);
}
#header-container {
	width:960px;
	margin:0 auto;
	padding-top:10px;
	height:60px;
}
#header-container img{
	opacity:0.95;
}
#header-container img:hover{
	opacity:1;
	cursor:pointer;
}
#header-nav{
	display:inline-block;
	margin-left:200px;
}
#header-nav .hasNew{
	position:absolute;
	bottom:25px;
	width:100%;
	height:24px;
	text-align:center;
	background:url('../images/tips.png') no-repeat;
}
#header-container li{
	position:relative;
	float:left;
	color:#fff;
	font-size:12px;
	margin-right:20px;	
	padding-bottom:10px;
	padding-top:30px;
}
#content {
	position:relative;
	padding-top:20px;
	width:960px;
	margin:0 auto;
}
#footer{
	position:fixed;
	bottom:5px;
	left:10px;
	font-size:12px;
}
#footer a{
	color:#1d3c41;
}