body {
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
  background: #fff repeat top left;
  font-weight: 400;
  font-size: 15px;
  color: #1d3c41;
  overflow-y: scroll;
  background: url('../images/main-bg.png');
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

img {
  border: 0px;
}

#header {
  width: 100%;
  height: 75px;
  background: #144465;
  border-bottom: 1px #999999 solid;
  box-shadow: 0px 2px 8px 0px rgba(100, 100, 100, 0.8);
}

#header-container {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
}

#header-container img {
  opacity: 0.95;
}

#header-container img:hover {
  opacity: 1;
  cursor: pointer;
}

#header-nav {
  float: right;
}

#header-nav .hasNew {
  bottom: 25px;
  width: 100%;
  height: 24px;
  text-align: center;
  position: absolute;
  background: url('../images/tips.png') no-repeat;
}

#header-container li {
  float: left;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;  
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}

#content {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

#footer {
  left: 10px;
  bottom: 5px;
  font-size: 12px;
  position: fixed;
}

#footer a {
  color: #1d3c41;
}
