body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
    background: url('../images/home-bg.jpg');
}
    
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    z-index: 100;
}